@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("../Images/6.jpg");
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: rgb(155, 70, 70);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    /* color: #000; */
    color: rgb(246, 243, 243);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #ff5733;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

.content .info h3{
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(216, 217, 218);
    margin-bottom: 40px;
}

.content .info-btn{
    color: rgba(255, 255, 255, 0.753);
    background: #ff5733;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 15px;
    transform: 0.3s;
    position: absolute;
    transition-property: background;
}

.content .info-btn:hover{
    background: rgb(60, 101, 143);
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #ff5733;
    font-size: 25px;
    transition: 0.3s;
    transition-property: all;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}


label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    margin-right: 5%;
}

label:hover{
    color: #ff5733;
}

label .menu-btn{
    position: absolute; 
}

label .close-btn{
    display: none; 
}

#check {
    z-index: 3;
    display: none;
}

#check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    background: rgba(224, 223, 226, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#check:checked ~ header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color:black;
}

#check:checked ~ header label .menu-btn {
    display: none;
}

#check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
}

@media (max-width: 1024px) {
    header .navigation {
        display: none;
    }
}

form {
    padding: 0px 0px 20px 0px;
}

form label {
    color: white;
}

form label:hover {
    color: white;
}

input[type=text], input[type=email] {
    width: 75%;
}

input[type=submit] {
    font-weight: bold;
    padding: 12px;
    float: right;
}

textarea {
    width: 100%;
    resize: none;
}